<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkout Frames v2: Multi Input</title>
  <link rel="stylesheet" href="/static/stylesheets/normalize.css">
  <link rel="stylesheet" href="/static/stylesheets/style.css">
</head>

<body>
  <div>
    <a href="/pages/one-liner.html" target="_blank">One Liner Approach</a>
  </div>
  <form id="payment-form" method="POST">
    <input type="text" name="cko-cart-token" id="token" style="display: none;">

    <label for="customername">Customer Name</label>
    <div class="input-container frame--activated">
      <input class="customername customer_field" id="checkout-frames-customer-name" name="customername">
    </div>
    <label for="address1">Address 1</label>
    <div class="input-container frame--activated">
      <input class="address1 customer_field" id="checkout-frames-address1" name="address1">
    </div>
    <label for="address2">Address 2</label>
    <div class="input-container frame--activated">
      <input class="address2 customer_field" id="checkout-frames-address2" name="address2">
    </div>
    <label for="postcode">Postcode</label>
    <div class="input-container frame--activated">
      <input class="postcode customer_field" id="checkout-frames-postcode" name="postcode">
    </div> 
    <label for="city">City</label>
    <div class="input-container frame--activated">
      <input id="city" class="city customer_field" id="checkout-frames-city" name="city">
    </div> 
    <label for="country">Country</label>
    <div class="input-container frame--activated autocomplete">
      <input id="country" class="country customer_field" id="checkout-frames-country" name="country">
      <input id="country-code" type="hidden">
    </div>
    <label for="phone">Phone</label>
    <div class="input-container frame--activated">
      <input class="phone customer_field" id="checkout-frames-phone" name="phone">
    </div>
    <label for="card-number">Card number</label>
    <div class="input-container card-number">
      <div class="icon-container">
        <img id="icon-card-number" src="/static/images/card-icons/card.svg" alt="PAN" />
      </div>
      <div class="card-number-frame"></div>
      <div class="icon-container payment-method">
        <img id="logo-payment-method" />
      </div>
      <div class="icon-container">
        <img id="icon-card-number-error" src="/static/images/card-icons/error.svg" />
      </div>
    </div>

    <div class="date-and-code">
      <div>
        <label for="expiry-date">Expiry date</label>
        <div class="input-container expiry-date">
          <div class="icon-container">
            <img id="icon-expiry-date" src="/static/images/card-icons/exp-date.svg" alt="Expiry date" />
          </div>
          <div class="expiry-date-frame"></div>
          <div class="icon-container">
            <img id="icon-expiry-date-error" src="/static/images/card-icons/error.svg" />
          </div>
        </div>
      </div>

      <div>
        <label for="cvv">Security code</label>
        <div class="input-container cvv">
          <div class="icon-container">
            <img id="icon-cvv" src="/static/images/card-icons/cvv.svg" alt="CVV" />
          </div>
          <div class="cvv-frame"></div>
          <div class="icon-container">
            <img id="icon-cvv-error" src="/static/images/card-icons/error.svg" />
          </div>
        </div>
      </div>
    </div>
    <label>
      <input type="checkbox" checked="checked" name=""> Saved Card
    </label>
    <button id="pay-button" disabled="">
      PAY GBP 25.00
    </button>

    <div>
      <span class="error-message error-message__card-number"></span>
      <span class="error-message error-message__expiry-date"></span>
      <span class="error-message error-message__cvv"></span>
    </div>

    <p class="success-payment-message"></p>
  </form>


  <script src="https://cdn.checkout.com/js/framesv2.min.js"></script>
  <script src="/static/js/app.js"></script>
  <script src="/static/js/autocomplete.js"></script>
</body>

</html>